<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title> learncode </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">
    <meta name="description" content="learncode">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="/bulmaswatch/assets/icons/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/bulmaswatch/assets/icons/favicon-16x16.png" sizes="16x16" />

    <link href="../../css/bulmaswatch.min.css" rel="stylesheet" />
    <link href="../../css/bulma-pricingtable.min.css" rel="stylesheet" />
    <style>
        .hero .container {
            width: 95%;
        }

        .hero .navbar {
            background: #3A4042;
        }

        .navbar.is-white .navbar-brand>.navbar-item {
            color: #fff;
        }

        .navbar-item img {
            max-height: 2.75rem;
        }

        html {
            background-color: #1A1930;


        }

        body {
            background: url(../images/bg.png);
            background-size: contain;
            background-repeat: no-repeat;

        }

        .footer {
            background-color: transparent;
        }

        .hero {
            background-color: transparent;
        }

        .user-avatar {
            display: inline-flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            align-content: center;
            position: relative;
            width: 62px;
            height: 62px;
            border-radius: 100%;
            border: 2px solid hsla(0, 0%, 100%, .85);
            cursor: pointer;
            overflow: hidden;
            background-color: rgba(133, 129, 114, 0.45);
            margin: 10px;

        }

        .mascote {

            overflow: hidden;
            transform: translatey(0px);
            animation: float 6s ease-in-out infinite;
            img {
                width: 100%;
                height: auto;
            }
        }

        @keyframes float {
            0% {

                transform: translatey(0px);
            }
            50% {
                transform: translatey(-20px);
            }
            100% {
                transform: translatey(0px);
            }
        }
    </style>
</head>

<body class="theme-page">
    <section class="hero">
        <div class="hero-head">
            <nav class="navbar is-white topNav">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="../">
                            <img src="../images/logo-learncode.png" alt="">
                        </a>
                        <a class="navbar-item" href="/">For companies</a>
                        <a class="navbar-item" href="/about/">About</a>
                        <div class="navbar-burger burger" data-target="topNav">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <div id="topNav" class="navbar-menu">
                        <div class="navbar-end">

                            <div class="buttons">
                                <a href="/register" class="button is-text">Register</a>
                                <a href="/login" class="button is-primary is-rounded">Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="hero-body">
            <div class="container">

                <div class="columns">
                    <div class="column is-8">

                        <div class="columns">
                            <div class="column is-8">
                                <div class="content">
                                    <h1>Learncode</h1>
                                    <p>What you want to learn today?</p>
                                    <p>Learn the most searches program languages easy, fast and every up-to-date</p>
                                </div>


                                <div class="buttons">
                                    <a href="/register" class="button is-rounded">Watch a demo</a>
                                    <a href="/login" class="button is-primary is-inverted is-outlined is-rounded">Explore Challanges</a>
                                </div>
                            </div>
                            <div class="column">
                                <div class="mascote">
                                    <img src="../images/man-floating.png" alt="">
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="column">
                        <div class="field">
                            <label class="label">Create your Account</label>
                            <div class="control has-icons-left has-icons-right">
                                <input class="input" type="text" placeholder="Username">
                                <span class="icon is-small is-left">
                                    <i class="fa fa-user fa-xs"></i>
                                </span>
                                <span class="icon is-small is-right">
                                    <i class="fa fa-check fa-xs"></i>
                                </span>
                            </div>
                        </div>

                        <div class="field">
                            <div class="control has-icons-left has-icons-right">
                                <input class="input" type="email" placeholder="E-mail">
                                <span class="icon is-left">
                                    <i class="fa fa-envelope"></i>
                                </span>
                                <span class="icon is-right">
                                    <i class="fa fa-check"></i>
                                </span>
                            </div>
                        </div>

                        <div class="field">
                            <div class="control has-icons-left has-icons-right">
                                <input class="input" type="password" placeholder="Password">
                                <span class="icon is-left">
                                    <i class="fa fa-key"></i>
                                </span>
                                <span class="icon is-right">
                                    <i class="fa fa-check"></i>
                                </span>
                            </div>
                        </div>

                        <div class="buttons">
                            <a href="#" class="button is-rounded is-link is-fullwidth">Register</a>
                            <a href="#" class="button is-rounded is-text is-fullwidth">Lost account?</a>



                        </div>
                        <div class="field">
                            <p class="control">
                                <a class="button is-rounded is-fullwidth">
                                    <span class="icon">
                                        <i class="fa fa-github"> </i>
                                    </span>
                                    <span>Login with GitHub</span>
                                </a>
                            </p>
                        </div>

                        <div class="field">
                            <p class="control">
                                <a class="button is-rounded is-info is-fullwidth">
                                    <span class="icon">
                                        <i class="fa fa-facebook"> </i>
                                    </span>
                                    <span>Login with Facebook</span>
                                </a>
                            </p>
                        </div>


                    </div>

                </div>

            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">

            <div class="pricing-table is-comparative">
                <div class="pricing-plan is-features">
                    <div class="plan-header">Features</div>
                    <div class="plan-price">
                        <span class="plan-price-amount">&nbsp;</span>
                    </div>
                    <div class="plan-items">
                        <div class="plan-item">Storage</div>
                        <div class="plan-item">Domains</div>
                        <div class="plan-item">Bandwidth</div>
                    </div>
                    <div class="plan-footer">

                    </div>
                </div>

                <div class="pricing-plan is-warning">
                    <div class="plan-header">Community Edition</div>
                    <div class="plan-price">
                        <span class="plan-price-amount">
                            <span class="plan-price-currency">$</span>40</span>/month</div>
                    <div class="plan-items">
                        <div class="plan-item" data-feature="Storage">20GB</div>
                        <div class="plan-item" data-feature="Domains">25</div>
                        <div class="plan-item" data-feature="Bandwidth">1TB</div>
                    </div>
                    <div class="plan-footer">
                        <button class="button is-fullwidth">FREE</button>
                    </div>
                </div>

                <div class="pricing-plan">
                    <div class="plan-header">Membership</div>
                    <div class="plan-price">
                        <span class="plan-price-amount">
                            <span class="plan-price-currency">$</span>60</span>/month</div>
                    <div class="plan-items">
                        <div class="plan-item" data-feature="Storage">200GB</div>
                        <div class="plan-item" data-feature="Domains">50</div>
                        <div class="plan-item" data-feature="Bandwidth">1TB</div>
                    </div>
                    <div class="plan-footer">
                        <button class="button is-fullwidth">Paid</button>
                    </div>
                </div>

                <div class="pricing-plan is-danger">
                    <div class="plan-header">For companies</div>
                    <div class="plan-price">
                        <span class="plan-price-amount">
                            <span class="plan-price-currency">$</span>100</span>/month</div>
                    <div class="plan-items">
                        <div class="plan-item" data-feature="Storage">2TB</div>
                        <div class="plan-item" data-feature="Domains">100</div>
                        <div class="plan-item" data-feature="Bandwidth">1TB</div>
                    </div>
                    <div class="plan-footer">
                        <button class="button is-fullwidth">Comming soon</button>
                    </div>
                </div>
            </div>



        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="content  has-text-centered">
                <h3>Members</h3>
                <p>around the World</p>
                <p>Created with love for the community</p>

                <div class="user-avatar">
                    <span>
                        <img src="../images/logo-learncode.png" alt="Avatar">
                    </span>
                </div>
                <div class="user-avatar">
                    <span>
                        <img src="../images/logo-learncode.png" alt="Avatar">
                    </span>
                </div>
                <div class="user-avatar">
                    <span>
                        <img src="../images/logo-learncode.png" alt="Avatar">
                    </span>
                </div>
                <div class="user-avatar">
                    <span>
                        <img src="../images/logo-learncode.png" alt="Avatar">
                    </span>
                </div>
                <div class="user-avatar">
                    <span>
                        <img src="../images/logo-learncode.png" alt="Avatar">
                    </span>
                </div>
                <div class="user-avatar">
                    <span>
                        <img src="../images/logo-learncode.png" alt="Avatar">
                    </span>
                </div>
                <div class="user-avatar">
                    <span>
                        <img src="../images/logo-learncode.png" alt="Avatar">
                    </span>
                </div>
                <div class="user-avatar">
                    <span>
                        <img src="../images/logo-learncode.png" alt="Avatar">
                    </span>
                </div>
                <div class="user-avatar">
                    <span>
                        <img src="../images/logo-learncode.png" alt="Avatar">
                    </span>
                </div>
                <div class="user-avatar">
                    <span>
                        <img src="../images/logo-learncode.png" alt="Avatar">
                    </span>
                </div>
                <div class="user-avatar">
                    <span>
                        <img src="../images/logo-learncode.png" alt="Avatar">
                    </span>
                </div>
                <div class="user-avatar">
                    <span>
                        <img src="../images/logo-learncode.png" alt="Avatar">
                    </span>
                </div>
                <div class="user-avatar">
                    <span>
                        <img src="../images/logo-learncode.png" alt="Avatar">
                    </span>
                </div>
                <div class="user-avatar">
                    <span>
                        <img src="../images/logo-learncode.png" alt="Avatar">
                    </span>
                </div>
                <div class="user-avatar">
                    <span>
                        <img src="../images/logo-learncode.png" alt="Avatar">
                    </span>
                </div>
                <div class="user-avatar">
                    <span>
                        <img src="../images/logo-learncode.png" alt="Avatar">
                    </span>
                </div>
                <div class="user-avatar">
                    <span>
                        <img src="../images/logo-learncode.png" alt="Avatar">
                    </span>
                </div>
                <div class="user-avatar">
                    <span>
                        <img src="../images/logo-learncode.png" alt="Avatar">
                    </span>
                </div>
                <div class="user-avatar">
                    <span>
                        <img src="../images/logo-learncode.png" alt="Avatar">
                    </span>
                </div>
                <div class="user-avatar">
                    <span>
                        <img src="../images/logo-learncode.png" alt="Avatar">
                    </span>
                </div>
                <div class="user-avatar">
                    <span>
                        <img src="../images/logo-learncode.png" alt="Avatar">
                    </span>
                </div>
                <div class="user-avatar">
                    <span>
                        <img src="../images/logo-learncode.png" alt="Avatar">
                    </span>
                </div>
                <div class="user-avatar">
                    <span>
                        <img src="../images/logo-learncode.png" alt="Avatar">
                    </span>
                </div>
                <div class="user-avatar">
                    <span>
                        <img src="../images/logo-learncode.png" alt="Avatar">
                    </span>
                </div>
            </div>
        </div>
    </section>


    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>LearnCode</strong>
                <br> The source code is licensed
                <a href="http://opensource.org/licenses/mit-license.php" target="_blank">MIT</a>.
            </p>
        </div>
    </footer>
</body>

</html>